---
---
@import "garth";

/* Custom background color */
body {
    background-color: #ffefc8 !important;
    color: #46412A;
}

.header {
    background-color: #ffefc8;
}

.footer {
    background-color: #ffefc8;
}
